/* Variables de couleurs */
:root {
  --soft-green: #c4ebdd;
  --dark-green: #32706a;
  --light-green: #39e2d4;
  --white: #f8f7fe;
}

/* Contexte général du container */
.marketPlaceContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  border-radius: 15px;
}

/* Sidebar - avec effet futuriste */
.sidebar {
  width: 20%;
  background-color: var(--dark-green);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Titre de la Sidebar */
.sidebarTitle {
  font-size: 24px;
  margin-bottom: 30px;
  color: var(--light-green);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Liens de la sidebar */
.sidebarLinks {
  list-style: none;
  padding: 0;
}

.sidebarLinks li {
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.sidebarLinks li a {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.sidebarLinks li a:hover {
  color: var(--light-green);
}

/* Liste des produits avec Flexbox */
.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 75%;
  justify-content: flex-start;
}

/* Carte des produits */
.card {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: calc(33.33% - 30px);
  margin-bottom: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

/* Canvas (modélisation du produit) */
.cardCanvas {
  width: 100%;
  height: 250px;
  background: linear-gradient(
    180deg,
    rgba(10, 10, 15, 0.8) 0%,
    rgba(0, 0, 30, 0.9) 100%
  );
  border-bottom: 2px solid var(--light-green);
}

/* Infos de la carte */
.cardInfo {
  padding: 20px;
  text-align: center;
  background: var(--dark-green);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Titre de la carte */
.cardInfo h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--white);
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Bouton sur la carte */
.cardButton {
  background-color: var(--light-green);
  color: var(--dark-green);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cardButton:hover {
  background-color: var(--dark-green);
  color: var(--light-green);
  transform: scale(1.05);
}

/* Curseur personnalisé */
.cursorFollow {
  position: absolute;
  pointer-events: none;
  transition: all 0.2s ease;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, var(--light-green), #ff00f7);
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

.cursorImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
