* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
  scroll-behavior: smooth;
}

.main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--soft-green);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}
